html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body { display: flex; justify-content: center; color: #333; font-family: "Open Sans"; font-weight: 400; font-size: 12pt; padding-bottom:20vh; }
.wrapper { max-width: 1000px;  }

nav { position:absolute; right:5%; top:50px; display:flex; flex-direction:row; align-items:center; }
nav * + * { margin-left: 20px; }
nav a { border: none; }
nav .github { width:120px; }

.caption { font-style:italic; font-size: 10pt; color: #777; text-align:center; margin-top:-15px; }

.videowrapper { position: relative; padding-bottom: 56.25%; height: 0; margin-bottom: 60px;}
.super-wrapper { width: 930px; }
.super-wrapper2 { width: 1000px; margin: 20px 0; }
.video { position: absolute; top: 0; left: 0; box-shadow: 0 3px 10px #bbb; margin-top:30px; width: 100%; height: 100%;}
img { max-width: 700px; color: #777; border:none; box-shadow: 0 3px 10px #bbb; }
img:not([src]) { width:500px; height:300px; background: #eee; border:none; }
.evedoc { width:345px; margin-left: 65px;}
.email { width: 700px;}
.inspectorgif { width: 700px;}
.error { width: 450px; }

img.full { width:1000px; max-width:1000px; }

.image-link { border:none; }

row, .row { display:flex; flex:1; }
row + row { margin-top:30px; }
co, .col { display:flex; flex-direction:column; flex:1; max-width:480px; }
co1, .col1 { display:flex; flex-direction:column; flex:1; max-width:700px; }
co + co { margin-left:40px; }
co img { max-width: 480px; }
co1 img { margin:20px 0 30px 0; }

p + img { margin-top:20px; }

ul { position: relative; margin: 20px 0 20px 30px; }
li { position:relative; margin-left: 20px; }
li:before { width: 7px; height: 7px; background: white; border: 1px solid #555; left: -24px; content: ""; position: absolute; display: block; top: 5px; }
li + li { margin-top: 18px; }

ul.small { margin:20px 0 20px 10px; }
ul.small li:before { width:7px; height:7px; left: -24px; top:5px; }

h1 { font-family: "Open Sans"; font-weight: 600; font-size: 18pt; color: #15193e; padding: 50px 0px 35px;}
h2 { font-family: "Open Sans"; font-weight: 600; font-size: 14pt; color: #15193e; padding: 50px 0px 35px;}
h3 { font-family: "Open Sans"; font-weight: 600; font-size: 12pt; color: #15193e; padding: 50px 0px 35px;}
h4 { font-family: "Open Sans"; font-weight: 600; font-size: 12pt; color: #15193e; margin-bottom:8px; }
a { font-weight: 400;  color: #15193E; border-bottom:1px dashed #555; cursor:pointer; text-decoration:none; }
a:hover { color: #625eff; border-color: #625eff; }
p { font-family: "Open Sans"; font-weight: 400; font-size: 12pt; padding-bottom: 12px; line-height: 30px;}

.inlinebutton { display: inline-block; height: 10px; overflow: visible; vertical-align: middle; }
.inlinebutton > * { position: relative; top: -10px; left: 5px; }

@media only screen
  and (max-width : 740px) {
    h1 { line-height: 40px; }
    h2, h3 { line-height: 30px; }
    h4 { line-height: 25px; }
    li:before { top: 9px; }
    .super-wrapper, .super-wrapper2 { width: 100%; }
    .wrapper { width: 100%; padding: 0px 20px;}
    co1 { width: 100%;}
    img { width: 100%;}
    .gameover { width: 100%}
    row { flex-direction: column;}
    co + co { margin-left: 0px;}
    .error { width: 100%; }
    .evedoc { margin-left: 0px; width: 100%;}
    .email { width: 100%;}
    .flappy { margin-bottom: 32px;}
    h2 { padding-top: 0px;}
    h3 { padding-top: 20px;}
    .inspectorgif { width: 100%}
  }
