html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
}
body {
  background: white;
  line-height: 1;
  display: flex;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

em {
  font-style: italic;
}

* {box-sizing: border-box;}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#landing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../img/bg.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  flex: 1 1 auto;
}

#landing .vertlogo {
  height: 170px;
}

#landing h1 {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.28em;
  color: #524fa2;
}

#landing p {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.06em;
  text-align: center;
  color: #524fa2;
}

.triangle {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: url("../img/triangle.png") no-repeat bottom right;
  background-size: 100% 100%;
}

.socialmedia {
  position: absolute;
  right: 3vh;
  bottom: 3vh;
  display: flex;
  flex-direction: row;
  width: 67px;
  justify-content: space-between;
}

.github {
  display: block;
  width: 28px;
  height: 28px;
  background: url("../img/github.png") no-repeat;
  background-size: 100% 200%;
}

.github:hover {
  background-position: 0px -28px;
}

.twitter {
  display: block;
  width: 28px;
  height: 28px;
  background: url("../img/twitter.png") no-repeat;
  background-size: 100% 200%;
}

.twitter:hover {
  background-position: 0px -28px;
}

#actions {
  display: flex;
}

#actions a {
  display: flex;
  flex-direction: row;
}

.outlet {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}

#actions .hexbutton {
  height: auto;
}

#actions .bracket {
}

#actions .text {
  width: 55%;
}

#actions h1 {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #ffffff;
  letter-spacing: 0.08em;
  line-height: 1.8;
}

#actions p {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  color: #b5abf1;
  letter-spacing: 0.04em;
  line-height: 1.2;
}

.blog {
  background: #403480;
}

.googlegroup {
  background: #463b89;
}

.olddocs {
  background: #514790;
}

.rolloverfog {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  z-index: 1;
}

a:hover .rolloverfog {
  background-color: rgba(255, 255, 255, 0.05);
}

@media (min-width: 2560px) {

  #landing .vertlogo {
    height: 170px;
    margin-bottom: 4vh;
  }

  #landing h1 {
    font-size: 32px;
    margin-bottom: 3vh;
  }

  #landing p {
    font-size: 20px;
    line-height: auto;
  }

  .triangle {
    width: 46.4vh;
    height: 80vh;
  }

  #actions {
    flex-direction: row;
    flex: 0 0 170px;
  }

  #actions .hexbutton {
    width: 78px;
    margin: 0 9.25%;
  }

  #actions .bracket {
    width: 12px;
    height: 33px;
  }

  #actions h1 {
    width: 178px;
    font-size: 24px;
  }

  #actions p {
    width: 300px;
    font-size: 16px;
  }
}

@media (min-width: 1440px) and (max-width: 2559px) {

  #landing .vertlogo {
    height: 170px;
    margin-bottom: 4vh;
  }

  #landing h1 {
    font-size: 32px;
    margin-bottom: 3vh;
  }

  #landing p {
    font-size: 20px;
    line-height: auto;
  }

  .triangle {
    width: 41.1vh;
    height: 70vh;
  }

  #actions {
    flex-direction: row;
    flex: 0 0 170px;
  }

  #actions .hexbutton {
    width: 78px;
    margin: 0 9.25%;
  }

  #actions .bracket {
    width: 12px;
    height: 33px;
  }

  #actions h1 {
    width: 178px;
    font-size: 24px;
  }

  #actions p {
    width: 200px;
    font-size: 16px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {

  #landing .vertlogo {
    height: 150px;
    margin-bottom: 5vh;
  }

  #landing h1 {
    font-size: 28px;
    margin-bottom: 3vh;
  }

  #landing p {
    font-size: 20px;
    line-height: auto;
  }

  .triangle {
    width: 41.1vh;
    height: 70vh;
  }

  #actions {
    flex-direction: row;
    flex: 0 0 125px;
  }

  #actions .hexbutton {
    width: 78px;
    margin: 0 7%;
  }

  #actions .bracket {
    width: 12px;
    height: 33px;
  }

  #actions h1 {
    width: 178px;
    font-size: 18px;
  }

  #actions p {
    width: 200px;
    font-size: 12px;
  }
}

@media (min-width: 426px) and (max-width: 1023px) {

  #landing .vertlogo {
    height: 150px;
    margin-bottom: 4vh;
  }

  #landing h1 {
    font-size: 28px;
    margin-bottom: 3vh;
  }

  #landing p {
    font-size: 20px;
    line-height: auto;
  }

  .triangle {
    width: 41.1vh;
    height: 70vh;
    background: none;
  }

  .socialmedia {
    right: 3vh;
    bottom: 3vh;
    width: 120px;
  }

  .github {
    width: 50px;
    height: 50px;
  }

  .github:hover {
    background-position: 0px -50px;
  }

  .twitter {
    width: 50px;
    height: 50px;
  }

  .twitter:hover {
    background-position: 0px -50px;
  }

  #actions {
    flex-direction: row;
    flex: 0 0 160px;
  }

  #actions .hexbutton {
    width: 60px;
    margin: 0 7%;
  }

  #actions .bracket {
    width: 12px;
    height: 33px;
  }

  #actions h1 {
    width: 178px;
    font-size: 18px;
  }

  #actions p {
    width: 160px;
    font-size: 12px;
  }

  #actions .googlegroup p {
  }
}

@media (max-device-width: 425px) {

  #landing .vertlogo {
    height: 150px;
    margin-bottom: 4vh;
  }

  #landing h1 {
    font-size: 1.3em;
    margin-bottom: 3vh;
  }

  #landing p {
    font-size: 1em;
    line-height: auto;
    width: 66%;
  }

  .triangle {
    width: 41.1vh;
    height: 70vh;
    background: none;
  }

  .socialmedia {
    right: 20px;
    bottom: 2.5vh;
    width: 110px;
  }

  .github {
    width: 45px;
    height: 45px;
  }

  .github:hover {
    background-position: 0px -45px;
  }

  .twitter {
    width: 45px;
    height: 45px;
  }

  .twitter:hover {
    background-position: 0px -45px;
  }

  #actions {
    flex-direction: column;
    flex: 0 0 auto;
  }

  #actions .hexbutton {
    width: 4rem;
    margin: 3% 5%;
  }

  #actions .text {
    width: 65%;
  }

  #actions .bracket {
    width: 12px;
    height: 33px;
  }

  #actions h1 {
    width: auto;
    font-size: 1em;
  }

  #actions p {
    width: 85%;
    font-size: 0.9em;
  }
}
